.draggable-transition-group {
  position: relative;
}

.draggable-move {
  transition: transform 0.3s ease;
}

.draggable-ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

.draggable-drag {
  cursor: grabbing;
}
